.jJmRoA {
    position: fixed;
    top: 0px;
    background-image: linear-gradient(-90deg, rgb(153, 0, 255), rgb(87, 30, 255), rgb(0, 153, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    height: 32px;
    font-size: 15px;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px -1px 0px 0px inset;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.jJmRoA .container {
    width: 100%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0 64px;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    text-align: center;
}

landing-page .cta {
    background: none;
}